body.msie .body > .header .group .g-menu .nav a.active::before { top: rem(8px); }

body.msie .ui.breadcrumb.standard::before { position: relative; top: rem(1px); }

body.msie .ui.buttons.quick-menu button i { top: rem(3px); }

body.msie .channel-change .table-css .head .cell .right button.clear { right: rem(58px); }

body.msie .table-css.type3 .tit-set .img-icon { margin-left: rem(-18px); }

body.msie .ui.dropdown.inline .menu .item { margin-left: rem(1px); }
