/* font */
@font-face {
	font-family: 'notosanskr';
	font-style: normal;
	font-weight: 200;
	src: url('../font/NotoSansKR-Thin.eot');
	src: url('../font/NotoSansKR-Thin.woff2') format('woff2'),
		 url('../font/NotoSansKR-Thin.woff') format('woff');
}

@font-face {
	font-family: 'notosanskr';
	font-style: normal;
	font-weight: 400;
	src: url('../font/NotoSansKR-Regular.eot');
	src: url('../font/NotoSansKR-Regular.woff2') format('woff2'),
		 url('../font/NotoSansKR-Regular.woff') format('woff');
}
@font-face {
	font-family: 'notosanskr';
	font-style: normal;
	font-weight: 700;
	src: url('../font/NotoSansKR-Bold.eot');
	src: url('../font/NotoSansKR-Bold.woff2') format('woff2'),
		 url('../font/NotoSansKR-Bold.woff') format('woff');
}
